/*barra de navegacion*/
.container-fluid{ 
    background-color:#024d34c4 ;
    height: 150px;
  }
  
  #enlace{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  float: right;
  font-weight: bold
  }
  
  .enlaces{
    font-size: 19px;
    padding-left: 350px;
    
  }
  header nav div ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  float: right;
  
   
  }
  
  nav ul li a:hover{
  background-color:#eaeeed;
  
  }
  

  .nav-item {
  font-family:cursive;
  }
  

  .titulo-nav-bar{  
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
  }
  .subtitulo{
    color: white;
    margin-left: 250px;
    font-family: cursive;
  }
  
.imagen{

    width:200px;
     height:200px;
     border-radius:100px;
     border-color:#024d34 ;
     
 }
 
 .row {
     background-color: #024d34ad;
 }
 
 .card-body{
     background-color:white;
 
 }
 
 
 .card-title {
     color: #024d34;
     align-content: center;
     size: 10;
 }
 
 .card-text{
     color: #024d34;
     align-content: center
 }
 
 
 
 .general{
     background-color:#024d34 ;
 }
 .container-fluid{ /*BARRA DE NAVEGACION*/
     background-color:#024d34 ;
     float: right;
 
     
 }
     .navbar-toggler-icon  {
         background-color: white;
     }
     .navbar-toggler{
         background-color: white;
     }
     
     
 
 
 span {
     color:white ;
     font-weight: bold;
     font-size: 50px;
     line-height: 200px;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     float: left;
     overflow: hidden;
 }
 .lema{
     color: white;
     font-weight: lighter;
     font-size: 20px;
     font-style: italic; 
 }
 
 
  
  
 
  
 
  
  header nav div ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      float: right;
 
       
  }
  
  nav ul li a:hover{
    background-color:#eaeeed;
    
  }
 
  
  
  .nav-item {
      font-family:cursive;
  }
 
  #enlace {
      color: white;
      float: right;
    
     
  }
  .navbar-nav{
      float: left;
 
  }
  

  /*pie de pagina*/
  
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 400PX;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }


  .lema{
      color:white;
      font-size: 40px;
      font-weight: bold;
      padding-left: 500px;
      font-style: oblique;
     
  }