/* OJO. NO MODIFICAR MUCHO HASTA LA LÍNEA 141*/
body {
    /* background-color: rgba(25, 71, 4, 0.514); */
    background-color: rgba(25, 71, 4, 0.514);
}

.nvoElemento {
    display: none;
}

.contenedor {
    margin: auto;
}

#tituloPcpal{
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    /* font: italic bold monospace; */
    color: white;
    font-weight: bold;
    font-family: monospace;
}

#titulo2{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;

}

.form{
    margin-left: 2rem;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.input{
    font-size: 1.1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.select{
    font-size: 1.1rem;
    background-color: rgb(188, 223, 188);
    text-align: center;
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.boton{
    margin-left: 2rem;
    size: 50px;
    background-color: white;
       
    font-weight: 600;
    border-radius: 35%;
    color: green;
    font-size: 13px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px;
    border-style: solid;
    border-radius:25px;
}

.boton:hover{
    background-color: green;
   
    color: white;
    font-size: 13px;
    padding: 12px;
    border-width: 3px;
    border-style: solid;
    border-radius:30px;
}

.divNuevo{
    background-color: rgb(188, 223, 188);
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 0.2rem;
}

.nvoLote{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 0.2rem;
}

form.hijo{
    font-size: 1.1rem;
    color: rgb(71, 95, 71);
}

input.hijo{
    font-size: 1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.has{
    width: 6rem;
    font-size: 1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.lote{
    width: 10rem;
    font-size: 1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.btnListo{
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 1rem;
}

/* Nav Bar  */

.container-fluid{ 
    background-color:#dbece7af ;
    height: 150px;
}

#enlace{
    font-family: cursive;
    text-decoration: none;
    color: white;
    float: right;
}

.enlaces{
    font-size: 19px;
    padding-left: 400px;
}

header nav div ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    float: right;
}

nav ul li a:hover{
    background-color:#eaeeed;
}

.nav-item {
    font-family:cursive;
}

.titulo-nav-bar{  
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 50px;
  }

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}







/*footer*/
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
     