/* OJO. NO MODIFICAR MUCHO HASTA LA LÍNEA 141*/
body {
    /* background-color: rgba(25, 71, 4, 0.514); */
    background-color: rgba(25, 71, 4, 0.514);
}

.nvoElemento {
    display: none;
}

.contenedor {
    margin: auto;
}

#tituloPcpal{
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    /* font: italic bold monospace; */
    color: white;
    font-weight: bold;
    font-family: monospace;
}

#titulo2{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: underline 2px;
}

.form{
    margin-left: 2rem;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.input{
    font-size: 1.1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.select{
    font-size: 1.1rem;
    background-color: rgb(188, 223, 188);
    text-align: center;
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.boton{
    margin-left: 2rem;
    size: 50px;
    background-color: white;
       
    font-weight: 600;
    border-radius: 35%;
    color: green;
    font-size: 13px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px;
    border-style: solid;
    border-radius:25px;
}

.boton:hover{
    background-color: green;
   
    color: white;
    font-size: 13px;
    padding: 12px;
    border-width: 3px;
    border-style: solid;
    border-radius:30px;
}

.divNuevo{
    background-color: rgb(188, 223, 188);
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 0.2rem;
}

.nvoLote{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 0.2rem;
}

form.hijo{
    font-size: 1.1rem;
    color: rgb(71, 95, 71);
}

input.hijo{
    font-size: 1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.has{
    width: 6rem;
    font-size: 1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.lote{
    width: 10rem;
    font-size: 1rem;
    background-color: rgb(188, 223, 188);
    /* text-align: center; */
    border-radius: 25px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.btnListo{
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 1rem;
}

/* Nav Bar  */

.container-fluid{ 
    background-color:#dbece7af ;
    height: 150px;
}

#enlace{
    font-family: cursive;
    text-decoration: none;
    color: white;
    float: right;
}

.enlaces{
    font-size: 19px;
    padding-left: 400px;
}

header nav div ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    float: right;
}

nav ul li a:hover{
    background-color:#eaeeed;
}

.nav-item {
    font-family:cursive;
}

.titulo-nav-bar{  
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 50px;
  }

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}







